@font-face {
    font-family: "vazir";
    src: url('../font/Vazir-Medium.ttf');
}

#Body {
    width: 100%;
    height: 3800px;
    background: rgb(2, 0, 36);
    background: linear-gradient(293deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(7, 51, 149, 1) 56%, rgba(0, 212, 255, 1) 100%);
}

#main {
    width: 100%;
    height: 100%;
}

.box-landing {
    margin-top: 15px !important;
}

section.container {
    min-width: 500px;
    margin: 10% auto;
    text-align: center;
    font-family: "narm" !important;
}

a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

button:hover {
    cursor: pointer;
}

button {
    background: transparent;
    outline: none;
    position: relative;
    border: 2px solid rgb(196, 196, 196);
    margin-top: 70px;
    padding: 15px 93px;
    overflow: hidden;
    font-family: "vazir";
}


/*button:before (attr data-hover)*/

button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
    color: white;
}

button:before {
    content: attr(data-hover);
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all .3s ease-in-out;
}


/*button div (button text before hover)*/

button:hover div {
    color: rgb(187, 187, 187);
    opacity: 0;
    transform: translate(100%, 0)
}

button div {
    color: rgb(206, 206, 206);
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 140px;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

#Body {
    overflow-x: hidden !important;
}

.box-landing {
    width: 80%;
    height: 3650px;
    display: block;
    margin: 0 auto;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 8.5px);
    -webkit-backdrop-filter: blur( 8.5px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.img-fluid-custom {
    margin-top: 40px;
    max-width: 650px;
    height: auto;
    /* animation: movetime 10s infinite; */
}


/* @keyframes movetime {
    50% {
        margin-top: 1px;
    }
} */

.box-landing-title h1 {
    text-align: right;
    margin-left: 35px;
    margin-top: 50px;
    direction: rtl;
    font-family: "vazir";
    color: white;
    display: inline-flex;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

.box-landing-title h1 p {
    font-family: sans-serif;
    margin-right: 15px;
}

.text-rtl {
    direction: rtl;
    text-align: center;
    text-align: justify;
    color: #FFFFFF;
    font-family: "vazir";
}

.typography-title {
    margin-top: 10px;
    margin-right: 15px;
}

.main-content {
    margin-top: 100px;
}

.img-custom-cam {
    width: 450px !important;
    margin-left: 50px;
    margin-top: -82px;
}

.left-m-text {
    margin-left: 10px;
}

.title-battery {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    direction: rtl;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.icone-battery {
    margin-top: 20px;
    text-align: center;
}

.battery-box h2 {
    margin-top: 40px;
    direction: rtl;
    font-family: 'vazir';
    color: #f2f2f2;
}

.fa-battery-full:before,
.fa-tachometer:before,
.fa-desktop:before,
.fa-phone:before,
.fa-internet-explorer:before {
    font-size: 50px;
    color: #1a9ef7;
}

.battery-box:hover .fa-battery-full:before,
.battery-box:hover .fa-tachometer:before,
.battery-box:hover .fa-desktop:before,
.battery-box:hover .fa-internet-explorer:before {
    color: rgb(31, 34, 43);
    transition: .5s ease-in;
}

.battery-box:hover h2 {
    color: rgb(199, 199, 199);
    transition: .5s ease-in;
}

.collor-phone {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-family: "vazir";
    cursor: pointer;
}

.collor-phone .h2c-1:hover {
    color: #d3d3d3;
    transition: 1s ease-in-out;
}

.collor-phone .h2c-3:hover {
    color: gray;
    transition: 1s ease-in-out;
}

.collor-phone .h2c-4:hover {
    color: rgba(133, 52, 52, 0.795);
    transition: 1s ease-in-out;
}

.collor-phone .h2c-5:hover {
    color: silver;
    transition: 1s ease-in-out;
}

.button-price {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 20px;
    font-family: "vazir";
}

.picture-3 {
    margin-top: 34px;
}

.picture-4 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 35px;
    width: 545px;
}

.picture-55 {
    width: 450px !important;
    margin-left: 50px;
    margin-top: -82px;
}

.m-text-right {
    margin-right: 10px !important;
}

.bg-body {
    direction: ltr;
}